body {
  font-family: 'Roboto', sans-serif;
  /* use work-sans (as opposed to San Francisco), don't go below 14px, use semi-bold instead of italics for neutral cards */
}

@media only screen and (min-width: 600px) {
  body {
    max-width: 600px;
  }
}

a:link {
  color: blue;
}
/* a:visited {
  color: black;
} */

.main-wrapper {
  height: 100vh;
  overflow: auto;
}
.button-wrapper {
  margin: 5px;
  padding: 25px;
}

.home {
  display: inline;
  background-color: white;
  float: right;
}

.clicked {
  display: inline;
  background-color: white;
  float: left;
}

.corp-button-wrapper {
  float: left;
  width: 50%;
  height: auto;
}

.runner-button-wrapper {
  float: right;
  width: 50%;
  height: auto;
}

#identity-image {
  /* margin-top: 25px; */
  clear: both;
}

#identity-content {
  margin: auto;
  text-align: center;
}

.all-content {
  width: 90%;
  /* max-height: 45vh; */
  margin: auto;
  background-color: darkgray;
  margin-top: 15px;
  border-radius: 15px;
  /* overflow: auto; */
}

button {
  background-color: white;
  margin: 2px;
  display: block;
  /* color: green; */
  border: solid black 1px;
  border-radius: 5%;
}
#random-card {
  margin: 0 auto;
}
.hide {
  display: none;
}

ul {
  list-style: none;
}
/* 
#agenda-content {
  padding-top: 15px;
} */

#upgrade-content {
  padding-bottom: 10px;
}

.subtext {
  font-size: .90rem;
}

.neutral {
  font-variant: small-caps;
  font-style: italic;
}